Make.helper
build/*
typings/
typings/*
manual/_minted-manual/
manual/_minted-manual/*
manual/manual.log
manual/manual.aux
manual/manual.toc
manual/manual.synctex.gz
pyrightconfig.json
build/
bin/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.pyc
*.o
#*#
db.sam
kmers.csv
manual/manual.out
processed.csv
manual/manual.bbl
manual/manual.bcf
manual/manual.blg
manual/manual.run.xml